<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://beta.galaxyblitz.online/plist2-master/GalaxyBlitz.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://fenfa.190sq.cn/data/image/app/2022/07/21/a3a58f438cfbe3d840842f2f3715c5cc.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://fenfa.190sq.cn/data/image/app/2022/07/21/a3a58f438cfbe3d840842f2f3715c5cc.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.youyu.GalaxyBlitz</string>
				<key>bundle-version</key>
				<string>1.1.3</string>
				<key>kind</key>
				<string>GalaxyBlitz</string>
				<key>title</key>
				<string>GalaxyBlitz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
